.reveal p {
  text-align: left;
  line-height: 1.1;
}

.reveal li {
  text-align: left;
  line-height: 1.1;
}

.reveal {
  background-color: #002b36;
  font-family: Triplicate T4p;
}

.reveal h1 {
   font-family: Triplicate C4p;
}

.reveal h2 {
   font-family: Triplicate C4p;
}

.reveal h3 {
   font-family: Triplicate C4p;
}

.reveal pre {
  font-family: Triplicate T4c;
}
.reveal code {
  font-family: Triplicate T4c;
}